{
    "env": {
        "jest": true
    },
    "extends": "airbnb-base",
    "globals": {
        "alert": false,
        "describe": false,
        "document": false,
        "expect": false,
        "jest": false,
        "localStorage": false,
        "sessionStorage": false,
        "test": false,
        "window": false
    },
    "overrides": [{
        "files": ["src/**/*.js"]
    }],
    "parser": "babel-eslint",
    "rules": {
        "import/no-extraneous-dependencies": [0],
        "import/no-named-as-default": [0],
        "import/no-named-as-default-member": [0],
        "import/prefer-default-export": [0],
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "linebreak-style": ["off"],
        "max-len": [1, {
            "code": 120,
            "ignoreUrls": true,
            "ignoreComments": true
        }],
        "no-underscore-dangle": [0],
        "no-unused-vars": [1],
        "no-use-before-define": [0],
        "object-curly-newline": "off",
        "operator-linebreak": "off"
    }
}
